<h1>New artist</h1>

<%= form_with(model: @artist) do |f| %>

    <div>
        <%= f.label :nombre %>
        <%= f.text_field :name%>
    </div>
    <div>
        <%= f.label :imagen%>
        <%= f.text_field :image_url%>
    </div>
    <div>
        <%= f.submit "Guardar"%>
    </div>


<%end%>